# This .dockerignore should be treated as a white list for more security

# Ignore everything by default:
**
# -----------------------------------------------------------------------


# ALLOW:

!Dockerfile   # Dockerfile might be needed for pushing containers to registry later

!scripts/**

!go.mod
!go.sum
!vendor/**

!src/go/**
!src/proto/**

!charts/base-crds/**
!charts/base-robot/**

!third_party/**

# Not yet required by Dockerfile but very possibly in the future:
# !src/bootstrap/**
