# General
tmp/

# Visual Studio Code
.vscode

# IntelliJ files
.project/
**/.idea/**

# macos
.DS_Store

# Python
*.pyc

# mypy
.mypy_cache/

# Rope project settings
.ropeproject

# User specific files
.REGISTRY